

.PowerQualityC7-events {
  scroll-margin-top: 160px;
  width: 84%;
  margin: auto;
  padding: 2vw;
    
    line-height: 1.6;
  }
  
  .PowerQualityC7-event-title{
    text-align: left;
    font-size: 1.2rem;
    color: #2C318F;
    margin: 15px 0;
  }
  
  .PowerQualityC7-events p{
    font-size: 0.9rem;
    text-align: justify;
    line-height: 2;
  }
  .PowerQualityC7-event-description {
    font-size: 0.9rem;
    color: #1c1c1c;
    text-align: justify;
  }
  
  .PowerQualityC7-image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin-top: 20px;
  }
  
  .PowerQualityC7-grid-img {
    width: 60%;
    height: 200px;
    object-fit: contain;
    /* border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); */
  }

    
  .PowerQualityC7-grid-img:hover{
        border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  /* Responsive adjustments */
  @media (max-width: 992px) {
    .PowerQualityC7-image-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 576px) {
    .PowerQualityC7-image-grid {
      grid-template-columns: 1fr;
    }
  }
  


  @media (max-width: 768px) {
  .PowerQualityC7-events {
    padding: 10px;
    }

  .PowerQualityC7-event-title {
    font-size: 18px;
  }
  
  .PowerQualityC7-event-description {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .PowerQualityC7-event-title {
  font-size: 16px;
  }
}

